<div class="container slider bg">

    <div class="layout sidebar-layout slider-drawer "> {# drop--right #}

      <div class="wrapper sidebar-wrapper bg--white">

        <div class="sidebar">

            <div class="sidebar__top z--fwd bg--white">

              <aside class="region sidebar-search" role="complementary">

                {# {{ page.sidebar_search }} #}
                <div class="searchbar-wrapper">
                  <div class="searchbar">
                    {# <span class="searchbar__icon"><i class="fa fa-search"></i></span> #}
                    <span class="searchbar__input"><input type="search" id="search" placeholder="Search..." /><span>
                  </div>
                </div>  

              </aside>

            </div>

            <div class="sidebar__middle buffer--side-top">

              <aside class="region sidebar-nav" role="complementary">
                {{ page.sidebar_nav }}
              </aside>

            </div>
     
            <div class="sidebar__bottom z--fwd bg--white">

              <aside class="region sidebar-links" role="complementary">

                {# {{ page.sidebar_links }} #} {# <span>CN | EN</span>  #} 
                <div class="icongallery-wrapper">
                  <div class="icongallery">
                    <ul class="icongallery__container">
                      <li class="icongallery__item"><a><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
                      <li class="icongallery__item"><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li class="icongallery__item"><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li class="icongallery__item"><a><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div> 

              </aside>

            </div>

        </div> {# end sidebar #}

      </div> {# end sidebar-wrapper #}
      
    </div> {# end sidebar-layout #}

    <div class="slider-screen"></div>

    <div class="bg-screen grid-target"></div>

    <div class="layout main-header-layout slider-canvas visor bg--white">

      <div class="overlay wrapper main-header-wrapper region " role="contentinfo">

        <div class="overlay__under card main-header media">

          <aside class="main-header__right media__imgR" role="contentinfo">
            {{ page.header_right }} 
          </aside>

          <aside class="main-header__left media__contents" role="contentinfo">
            {{ page.header_left }}
          </aside>

        </div>

        <div class="overlay__over pe--n card main-header">

          <aside class="main-header__center" role="contentinfo">
            {{ page.header_middle }}
          </aside>

        </div>

      </div>

    </div> 
    {# end header-wrapper #}

    <div class="layout main-content-layout slider-canvas">

      <div class="wrapper main-content-wrapper"> {# buffer--main-top buffer--main-bottom #}

        <main class="main-content clearfix" role="main">  

          <div id="fullpage" class="fullpage">

            <div class="fullpage__section--hidden">
              <div class="region main-content__buffer">
                <div class="card buffer-top"></div>
              </div>
            </div>

            <div class="fullpage__section bg--white"> {# ta--c text-align center to center nameplate #}
              {% if page.content_slideshow %}

                <div id="main-content-slideshow" class="region main-content__slideshow overflow-visible">
                  {{ page.content_slideshow }}
                </div>

                <div class="fullpage__asset card nameplate z--front">
                  <div class="ribbon">
                    <div class="ribbon__segments">
                        <div class="ribbon__segment--center">
                            {{ page.header_left }}
                        </div>
                    </div>
                  </div>                
                </div>

                <div class="fullpage__asset fullpage__pager--down bg--white op--9 z--fwd">
                  <div class="ribbon">
                    <div class="ribbon__segments">
                        <div class="ribbon__segment--center">
                            <a href="#secondPage" class="icon icon--mat icon--bigr icon--button-big unchecked" style="background:none">
                              <i class="material-icons">arrow_downward</i>
                            </a>
                        </div>
                    </div>
                  </div>
                </div>

              {% endif %}
            </div>

            {# <div class="fullpage__section--hidden bg--manifesto z--fwd"> 

              <div id="main-content-primary" class="region main-content__primary overflow-hidden">
                {{ page.content_primary }}              
              </div>

              <div class="fullpage__asset fullpage__pager--down">
                <div class="ribbon__segments">
                    <div class="ribbon__segment--center">
                        <a href="#thirdPage" class="icon icon--white icon--mat icon--bigr icon--button-big unchecked" style="background:none">
                          <i class="material-icons">arrow_downward</i>
                        </a>
                    </div>
                </div>
              </div>

            </div> #}
            
            <div class="fullpage__section bg--recent-news z--fwd">

                <div id="main-content-relations" class="region main-content__primary bg--white overflow-hidden">
                  {{ page.content_relations }}
                </div>

                <div class="fullpage__asset fullpage__pager--down">
                  <div class="ribbon__segments">
                      <div class="ribbon__segment--center">
                          <a href="#firstPage" class="icon icon--mat icon--bigr icon--button-big unchecked" style="background:none">
                              <i class="material-icons">arrow_upward</i>
                            </a>
                      </div>
                  </div>
                </div>

            </div>

          </div>

        </main>

      </div> {# end main-content-wrapper #}

    </div> {# end main-wrapper #}

</div> {# end container #}