{# <div class="preloader"></div> #}

<div class="container slider bg"> 

    <div class="layout sidebar-layout slider-drawer">

      <div class="wrapper sidebar-wrapper bg--white">

        <div class="sidebar">

            <div class="region sidebar__top bg--white z--fwd">

                {% include '@open_scratch/parts/searchbar.html.twig' %}               

            </div>

            <div class="buffer-top"></div>

            <div class="region sidebar__middle">

                {{ page.sidebar_nav }}

            </div>
     
            <div class="region sidebar__bottom bg--white z--fwd">

                {% include '@open_scratch/parts/icongallery.html.twig' %} 

            </div>

        </div> {# end sidebar #}

      </div> {# end sidebar-wrapper #}
      
    </div> {# end sidebar-layout #}

    {# <div class="bg"> #}

    <div class="slider-screen "></div>

    <div class="bg__screen grid-target slider-toggle"></div>

    <div class="layout bg__layout slider-canvas"> {# bg--ltwhitesmoke #}
      <div class="region bg__page"></div>
    </div> 

    {# </div> #}

    <div class="layout main-header-layout slider-canvas visor">

      <div class="overlay wrapper main-header-wrapper region bg--white" role="contentinfo">

        <div class="overlay__under card main-header media">

          <aside class="main-header__right media__imgR" role="contentinfo">
            {{ page.header_right }} 
          </aside>

          <aside class="main-header__left media__contents" role="contentinfo">
            {{ page.header_left }}
          </aside>

        </div>

        <div class="overlay__over pe--n card main-header">

          <aside class="main-header__center" role="contentinfo">
            {{ page.header_middle }}
          </aside>

        </div>

      </div>

    </div> {# end header-wrapper #}

    <div class="layout main-content-layout slider-canvas">

      <div class="wrapper main-content-wrapper "> {# buffer--main-top buffer--main-bottom #}

        <div class="fullpage__hidden region main-content__buffer buffer-top">
          {# <div class="card buffer-top"></div> #}
        </div>

        {% if (page.toolbar_right or page.toolbar_left) %}

          <div class="region main-content__header">

            <div class="peekable">

              <input type="checkbox" id="toolbar" checked>

              <div class="wrapper toolbar-wrapper peekable-target" role="contentinfo">

                <div class="card toolbar">

                  <div class="ribbon ribbon--big">
                    <div class="ribbon__segments">

                      {% if page.toolbar_right %}
                        <div class="ribbon__segment" role="contentinfo">
                          {{ page.toolbar_right }} 
                        </div>
                      {% endif %}

                      {% if page.toolbar_left %}
                        {# <div class="ribbon__segment--left">
                          <a class="icon icon--pull-left icon--fa" style="background:none">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                          </a>
                        </div> #}
                        <div class="ribbon__segment--left w--85p" role="contentinfo">
                          {{ page.toolbar_left }}
                        </div>
                      {% endif %}
        
                    </div>
                  </div>

                </div>

              </div> {# end toolbar-wrapper #}

              <label for="toolbar">

                <div class="wrapper toolbar-toggle-wrapper peekable-toggle">

                  <div class="card toolbar-toggle">

                    <div class="ribbon ribbon--big">
                      <div class="ribbon__segments">

                        {# {% if page.toolbar_right %} #}
                          <div class="ribbon__segment">
                            <a class="icon icon--pull-left icon--button-big icon--fa checked" style="background:none">
                              <i class="fa fa-filter" aria-hidden="true"></i>
                            </a>
                            <a class="icon icon--pull-left icon--button-big icon--fa unchecked" style="background:none">
                              <i class="fa fa-filter" aria-hidden="true"></i>
                            </a>
                          </div>
                        {# {% endif %} #}

                      </div>
                    </div>
                  </div>

                  <div class="card toolbar-screen ribbon ribbon--med">
                  </div>

                </div>

              </label>

            </div>

          </div>

        {% endif %}

        <main class="main-content" role="main"> 

          <div id="fullpage" class="fullpage">
     
            {% if page.content_slideshow %}

              <div class="fullpage__section">

                <div id="main-content-slideshow" class="region main-content__slideshow slideshow bg--dark pos--r"> {# border--top #}
                  {{ page.content_slideshow }}
                  <a class="icon icon--mat icon--overlay icon--huge icon--button-big-sqr z--front fullpage__toggler">
                    <i class="material-icons">fullscreen</i>
                  </a>
                </div>

                {# <div class="fullpage__asset fullpage__pager--down bg--white op--9 z--fwd">
                  <div class="ribbon">
                    <div class="ribbon__segments">
                        <div class="ribbon__segment--center">
                            <a href="#secondPage" class="icon icon--mat icon--bigr icon--button-big unchecked" style="background:none">
                              <i class="material-icons">arrow_downward</i>
                            </a>
                        </div>
                    </div>
                  </div>
                </div> #}

              </div>

            {% endif %}
            
            <div class="fullpage__hidden z--fwd">

              <div id="main-content-primary" class="region main-content__primary"> {# border--top #}
                {{ page.content_primary }}
              </div>

              <div class="fullpage__asset fullpage__pager--down">
                <div class="ribbon__segments">
                    <div class="ribbon__segment--center">
                        <a href="#firstPage" class="icon icon--mat icon--bigr icon--button-big unchecked" style="background:none">
                          <i class="material-icons">arrow_upward</i>
                        </a>
                    </div>
                </div>
              </div>

            </div>

            <div class="fullpage__hidden">

              {% if page.content_gallery %}
                <div id="main-content-gallery" class="region main-content__gallery">
                  {{ page.content_gallery }}
                </div>
              {% endif %}
              
              {% if page.content_relations %}
                <div id="main-content-relations" class="region main-content__relations"> {# border--top bg--dots #}
                  {{ page.content_relations }}
                </div>
              {% endif %}

              {% if page.content_facts %}
                <div id="main-content-facts" class="region main-content__facts"> {# border--top #}
                  <div class="card factsheet border--top">
                    <div class="card__item card__item--spaced-most card__header">
                      <div class="title title--secondary">
                        <h3>Data</h3>
                      </div>
                    </div>
                    <div class="card__item card__item--spaced-most-top card__body">
                      <div class="gallery-container factsheet-gallery-container">
                        {{ page.content_facts }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}

            </div> 

          </div>

        </main>

        <div class="fullpage__hidden region main-content__buffer buffer-bottom">

        </div>

      </div> {# end main-content-wrapper #}

      <div class="wrapper main-footer-wrapper region ">

        <footer class="card footer main-footer" role="contentinfo">
          
          <div id="footer-content-top" class="main-footer__top media border--top-ltgrey">

            <div>

              <aside class="main-header__right media__imgR" role="contentinfo">

                <div class="block">
                  <div class="block-content icons">
                    <div class="icon--container">
                      <div class="icon"><a><i class="fa fa-weixin" aria-hidden="true"></i></a></div>
                      <div class="icon"><a><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                      <div class="icon"><a><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                      <div class="icon"><a><i class="fa fa-rss" aria-hidden="true"></i></a></div>
                    </div>
                  </div>
                </div>

                {# {{ page.header_right }}  #}
              </aside>

              <aside class="main-header__left media__contents" role="contentinfo">

                <div class="block">
                  <div class="block-content">
                    <div class="searchbar-wrapper">
                      <div class="searchbar">
                        {# <span class="searchbar__icon"><i class="fa fa-search"></i></span> #}
                        <span class="searchbar__input"><input type="search" id="search" placeholder="Search..." /><span>
                      </div>
                    </div>
                  </div>
                </div>

                {# {{ page.header_left }} #}
              </aside>

            </div>

            {# {{ page.footer_top }} #}
          </div>

          <div id="footer-content-middle" class="main-footer__middle">

            <aside role="complementary">
              {{ page.footer }}
            </aside>

          </div>

          <div id="footer-content-bottom" class="main-footer__bottom">

            <aside role="complementary" >

              <div class="block">

                <div class="block-contents">

                  <div class="ribbon ribbon--med">
                    <div class="ribbon__segments">
                      <span class="ribbon__segment">
                        {# {{ page.footer }} #}
                          {# <div class="block menu-toggler z--front">
                            <div class="block-content icons">
                              <div class="icon--container"> #}
                                <a class="icon icon--mat icon--white-on-orange icon--bigr icon--button-big-sqr z--front slider-toggler menu-toggler-2">
                                  <i class="material-icons">menu</i>
                                </a>
                              {# </div>
                            </div>
                          </div> #}
                      </span>
                      <span class="ribbon__segment">
                        {# <a class="icon icon--fa icon--button-big"><i class="fa fa-github" aria-hidden="true"></i></a> #}
                        <a class="icon icon--mat icon--button-big inverter__toggler"><i class="material-icons">invert_colors</i></a>          
                      </span>
                      <span class="ribbon__segment--left">
                        <h6 class="label label--nopad" style="text-transform:none;">Copyright © 2011, OPEN Architecture.</h6>
                      </span>
                    </div>
                  </div>

                </div>

              </div>

            </aside>

          </div>

        </footer>

      </div> {# end footer-wrapper #}

    </div> {# end main-wrapper #}

</div> {# end container #}