
<div class="container slider bg">

    <div class="layout sidebar-layout slider-drawer bg--white"> {# drop--right #}

      <div class="wrapper sidebar-wrapper">

        <div class="sidebar">

            <div class="region sidebar__top z--fwd bg--white">

              <aside class="card sidebar-search" role="complementary">

                {# {{ page.sidebar_search }} #}
                <div class="searchbar-wrapper">
                  <div class="searchbar">
                    {# <span class="searchbar__icon"><i class="fa fa-search"></i></span> #}
                    <span class="searchbar__input"><input type="search" id="search" placeholder="Search..." /><span>
                  </div>
                </div> 
                {# <div class="tag"><h2>Search...</h2></div> #}


              </aside>

            </div>

            <div class="region sidebar__middle buffer--side-top">

              <aside class="card sidebar-nav" role="complementary">

                {{ page.sidebar_nav }}

              </aside>

            </div>
     
            <div class="region sidebar__bottom z--fwd bg--white">

              <aside class="card sidebar-links" role="complementary">

                {# {{ page.sidebar_links }} #} {# <span>CN | EN</span>  #} 
                <div class="icongallery-wrapper">
                  <div class="icongallery">
                    <ul class="icongallery__container">
                      <li class="icongallery__item"><a><i class="fa fa-weixin" aria-hidden="true"></i></a></li>
                      <li class="icongallery__item"><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li class="icongallery__item"><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li class="icongallery__item"><a><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div> 

              </aside>

            </div>

        </div> {# end sidebar #}

      </div> {# end sidebar-wrapper #}
      
    </div> {# end sidebar-layout #}

    {# <div class="bg"> #}

    <div class="slider-screen"></div>

    <div class="bg__screen grid-target slider-toggle"></div>

    <div class="layout bg__layout slider-canvas"> {# bg--ltwhitesmoke #}
      <div class="region bg__page"></div>
    </div> 

    {# </div> #}

    <div class="layout main-header-layout slider-canvas visor">

      <div class="overlay wrapper main-header-wrapper region bg--white" role="contentinfo">

        <div class="overlay__under card main-header media">

          <aside class="main-header__right media__imgR" role="contentinfo">
            {{ page.header_right }} 
          </aside>

          <aside class="main-header__left media__contents" role="contentinfo">
            {{ page.header_left }}
          </aside>

        </div>

        <div class="overlay__over pe--n card main-header">

          <aside class="main-header__center" role="contentinfo">
            {{ page.header_middle }}
          </aside>

        </div>

      </div>

    </div> {# end header-wrapper #}

    <div class="layout main-content-layout slider-canvas">

      <div class="wrapper main-content-wrapper "> {# buffer--main-top buffer--main-bottom #}

        <div class="region main-content__buffer buffer-top">
          {# <div class="card buffer-top"></div> #}
        </div>

        {% if (page.toolbar_right or page.toolbar_left) %}

          <div class="region main-content__header">

            <div class="peekable">

              <input type="checkbox" id="toolbar" checked>

              <div class="wrapper toolbar-wrapper peekable-target" role="contentinfo">

                <div class="card toolbar ribbon ribbon--big">
                  <div class="ribbon__segments">

                    {% if page.toolbar_right %}
                      <div class="ribbon__segment" role="contentinfo">
                        {{ page.toolbar_right }} 
                      </div>
                    {% endif %}

                    {% if page.toolbar_left %}
                      {# <div class="ribbon__segment--left">
                        <a class="icon icon--pull-left icon--fa" style="background:none">
                          <i class="fa fa-filter" aria-hidden="true"></i>
                        </a>
                      </div> #}
                      <div class="ribbon__segment--left w--85p" role="contentinfo">
                        {{ page.toolbar_left }}
                      </div>
                    {% endif %}
      
                  </div>
                </div>

              </div> {# end toolbar-wrapper #}

              <label for="toolbar">

                <div class="wrapper toolbar-toggle-wrapper peekable-toggle">

                  <div class="card toolbar-toggle ribbon ribbon--big">
                    <div class="ribbon__segments">

                      {# {% if page.toolbar_right %} #}
                        <div class="ribbon__segment">
                          <a class="icon icon--pull-left icon--button-big icon--fa checked" style="background:none">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                          </a>
                          <a class="icon icon--pull-left icon--button-big icon--fa unchecked" style="background:none">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                          </a>
                        </div>
                      {# {% endif %} #}

                    </div>
                  </div>

                  <div class="card toolbar-screen ribbon ribbon--big">
                  </div>

                </div>

              </label>

            </div>

          </div>

        {% endif %}

        <main class="main-content" role="main"> 



          {% if page.content_gallery %}
            <div id="main-content-gallery" class="region main-content__gallery">
              {{ page.content_gallery }}
            </div>
          {% endif %}

          {# <div id="fullpager"> #}
          
          {# <div class="section"> #}
          {% if page.content_slideshow %}
            <div id="main-content-slideshow" class="region main-content__slideshow slideshow bg--dark"> {# border--top #}
              {{ page.content_slideshow }}
            </div>
          {% endif %}
          {# </div> #}

          {# <div class="section"> #}
            <div id="main-content-primary" class="region main-content__primary"> {# border--top #}
              {{ page.content_primary }}
            </div>
          {# </div> #}

          {# </div> #}
          
          {% if page.content_relations %}
            <div id="main-content-relations" class="region main-content__relations"> {# border--top bg--dots #}
              {{ page.content_relations }}
            </div>
          {% endif %}

          {% if page.content_facts %}
            <div id="main-content-facts" class="region main-content__facts"> {# border--top #}
              <div class="card factsheet border--top">
                <div class="card__item card__item--spaced-most card__header">
                  <div class="title title--secondary">
                    <h3>Data</h3>
                  </div>
                </div>
                <div class="card__item card__item--spaced-most-top card__body">
                  <div class="gallery-container factsheet-gallery-container">
                    {{ page.content_facts }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        </main>

        <div class="region main-content__buffer buffer-bottom">

        </div>

      </div> {# end main-content-wrapper #}

      <div class="wrapper main-footer-wrapper region ">

        <footer class="card footer main-footer" role="contentinfo">
          
          <div id="footer-content-top" class="main-footer__top media border--top-ltgrey">

            <div>

              <aside class="main-header__right media__imgR" role="contentinfo">

                <div class="block">
                  <div class="block-content icons">
                    <div class="icon--container">
                      <div class="icon"><a><i class="fa fa-weixin" aria-hidden="true"></i></a></div>
                      <div class="icon"><a><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
                      <div class="icon"><a><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                      <div class="icon"><a><i class="fa fa-rss" aria-hidden="true"></i></a></div>
                    </div>
                  </div>
                </div>

                {# {{ page.header_right }}  #}
              </aside>

              <aside class="main-header__left media__contents" role="contentinfo">

                <div class="block">
                  <div class="block-content">
                    <div class="searchbar-wrapper">
                      <div class="searchbar">
                        {# <span class="searchbar__icon"><i class="fa fa-search"></i></span> #}
                        <span class="searchbar__input"><input type="search" id="search" placeholder="Search..." /><span>
                      </div>
                    </div>
                  </div>
                </div>

                {# {{ page.header_left }} #}
              </aside>

            </div>

            {# {{ page.footer_top }} #}
          </div>

          <div id="footer-content-middle" class="main-footer__middle">

            <aside role="complementary">
              {{ page.footer }}
            </aside>

          </div>

          <div id="footer-content-bottom" class="main-footer__bottom">

            <aside role="complementary" >

              <div class="block">

                <div class="block-contents">

                  <div class="ribbon ribbon--med">
                    <div class="ribbon__segments">
                      <span class="ribbon__segment">
                        {{ page.footer }}
                      </span>
                      <span class="ribbon__segment">
                        <a class="icon icon--fa icon--button-big"><i class="fa fa-github" aria-hidden="true"></i></a>
                      </span>
                      <span class="ribbon__segment--left">
                        <h6 class="label label--nopad" style="text-transform:none;">Copyright © 2011, OPEN Architecture.</h6>
                      </span>
                    </div>
                  </div>

                </div>

              </div>

            </aside>

          </div>

        </footer>

      </div> {# end footer-wrapper #}

    </div> {# end main-wrapper #}

</div> {# end container #}