
<div class="container">

  <div class="wrapper menubar-wrapper clearfix">

    <div class="menubar">

      <header class="region header menubar-header" >
        {{ page.header }}
        
      </header>

      {% if page.menubar_primary %}
        <aside id="menubar-content-primary" class="region menubar-content menubar-primary" role="complementary">
          {{ page.menubar_primary }}
        </aside>
      {% endif %}

      {% if page.menubar_secondary %}
        <aside id="menubar-content-secondary" class="region menubar-content menubar-secondary" role="complementary">
          {{ page.menubar_secondary }} {# <span>CN | EN</span>  #} 
        </aside>
      {% endif %}

    </div>

  </div> {# /.layout-menubar #}

  <div class="wrapper main-wrapper clearfix">

    <div class="header main-header toolbar" role="contentinfo">
      
        {% if page.toolbar_left %}
          <div id="main-content-header-left" class="region main-content-header toolbar-left" role="contentinfo">
            {{ page.toolbar_left }}
          </div>
        {% endif %}

        {% if page.toolbar_right %}
          <div id="main-content-header-right" class="region main-content-header toolbar-right" role="contentinfo">
            {{ page.toolbar_right }}
          </div>
        {% endif %}


    </div>
    
    <main class="clearfix" role="main">  

      {% if page.content_gallery %}
        <div id="main-content-gallery" class="region main-content">
          {{ page.content_gallery }}
        </div>
      {% endif %}

      {% if page.content_slideshow %}
        <div id="main-content-slideshow" class="region main-content slideshow">
          {{ page.content_slideshow }}
        </div>
      {% endif %}

      <div id="main-content-primary" class="region main-content">
        {{ page.content_primary }}
      </div>
      
      {% if page.content_relations %}
        <div id="main-content-relations" class="region main-content">
          {{ page.content_relations }}
        </div>
      {% endif %}

      {% if page.content_facts %}
        <div id="main-content-facts" class="region main-content">
          <div class="gallery-container factsheet-gallery-container">
            {{ page.content_facts }}
          </div>
        </div>
      {% endif %}

    </main>

    <footer class="region footer main-footer" role="contentinfo">
      {{ page.footer }}
    </footer>


  </div>{# /.layout-content #}



  

</div>{# /.layout-container #}