<li class="facts__fact">
	<h6>{{ fields.field_task_year.label }}: {{ fields.field_task_year.content }}</h6>
</li>

<li class="facts__fact">
	<h6>{{ fields.field_task_city.label }}: {{ fields.field_task_city.content }}</h6>
</li>

<li class="facts__fact">
	<h6>{{ fields.field_task_size.label }}: {{ fields.field_task_size.content }}</h6>
</li>

<li class="facts__fact">
	<h6>{{ fields.field_task_site.label }}: {{ fields.field_task_site.content }}</h6>
</li>

<li class="facts__fact">
	<h6>{{ fields.field_task_type.label }}: {{ fields.field_task_type.content }}</h6>
</li>

<li class="facts__fact">
	<h6>{{ fields.field_task_client.label }}: {{ fields.field_task_client.content }}</h6>
</li>

<li class="facts__fact">
	<h6>{{ fields.field_task_status.label }}: {{ fields.field_task_status.content }}</h6>
</li>
