<h5 class="title">

	{{ fields.field_press_publication_date.content }} | {{ fields.field_press_publication.content }} | {{ fields.title.content }}

	{% if fields.field_press_link.content %}

		<a class="icon--external-sml focus__btn" href="{{ fields.field_press_link.content|striptags }}" target="_blank">
			<i class="material-icons">call_made</i>
		</a>

	{% elseif fields.field_press_file.content %}

		<a class="icon--file focus__btn" href="{{ fields.field_press_file.content|striptags }}" target="_blank">
			<i class="fa fa-file-o" aria-hidden="true"></i>
		</a>
		
	{% endif %}
	
</h5>

