{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{# {{ dump(fields) }} #}
{# <li class="gallery__item">
  {{ fields.field_thumbnail.content }}
</li> #}

<li class="gallery__item">

  <div class="card card--flag relation media mediaCard"> {# class wrappers #}

    <div class="card__item card__slide relation__thumb media__img media__img--relation"> {# layout / width #}

      {# <div class="card__item card__slide"> #} {# spacing / height #}

        {{ fields.field_thumbnail.content }} {# img element #}
        {{ fields.field_video_embed.content }}

      {# </div> #}

    </div>

    <div class="media__contents">

      <div class="card__item card__header relation__header">
        
        <div class="media mediaTitle">

          {# <div class="media__imgR">
              <a class="icon" style="background:none"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
          </div> #}
          <div class="media__imgR">
            <div class="ribbon">
              <div class="ribbon__segments">
                <div class="ribbon__segment">
                  {# <a class="icon icon--sml" style="background:none"><i class="fa fa-angle-down" aria-hidden="true"></i></a> #}
                  <a class="icon icon--button-big icon--big icon--mat" href="{{ base_path }}task/{{ fields.nid.content|striptags }}"><i class="material-icons">arrow_forward</i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="media__contents">
              <h3 class="title title--secondary fw--b">{{ fields.title.content }}</h3>
          </div>

        </div>
         
      </div>

      <div class="card__item card__body relation__body">

        <div class="bd bd--smltext lc--4">{{ fields.body.content }}</div>

      </div>

      <div class="card__item card__footer relation__footer "> {# position--bottom #}

        <div class="ribbon ribbon--med">
          <div class="ribbon__segments">
            {# <span class="ribbon__segment--left">
              <a class="icon icon--sml"><i class="fa fa-tag" aria-hidden="true"></i></a>
            </span> #}
            <span class="ribbon__segment--left">
              <div class="label label--nopad">
                <h6>
                  {{ fields.type_1.content }}
                  , {{ fields.field_task_type.content }}    
                  , {{ fields.field_task_program.content }}
                </h6>
              </div>
            </span>
          </div>
        </div>

      </div>

    </div>

  </div>

</li>
