<div class="card__item card__item--spaced-most card__header"> 

	<h1>{{ fields.title.content }}</h1>

</div>

<div class="card__item card__item--spaced-most card__body">
	<div class="bd bd--expandable">{{ fields.body.content }}</div>
</div>

<div class="card__item card__footer">

  <div class="ribbon med">
    <div class="ribbon__segments">

      <span class="ribbon__segment left">
        <a class="icon--tag">
          <i class="material-icons">label</i>
        </a>
      </span>

      {# <span class="ribbon__segment left">
        <div class="tag">{{ fields.field_task_group.content }}</div>
      </span> #}

      {# <span class="ribbon__segment left">
        <div class="tag">{{ fields.field_task_type.content }}</div>
      </span> #}

      {# <span class="ribbon__segment left">
        <div class="tag">{{ fields.field_task_program.content }}</div>
      </span> #}

      {% set group = (fields.field_task_group.content) %}

      {% if group == 'OPEN Work' %}

        <span class="ribbon__segment left">
          <div class="tag"><a href="{{ base_path }}projects/gallery">{{ fields.field_task_group.content }}</a></div>
        </span>

        <span class="ribbon__segment left">
          <div class="tag"><a href="{{ base_path }}projects/gallery?field_task_type_value={{ fields.field_task_type.content }}">{{ fields.field_task_type.content }}</a></div>
        </span>
        <span class="ribbon__segment left">
          <div class="tag"><a href="{{ base_path }}projects/gallery?field_task_program_value={{ fields.field_task_program.content }}">{{ fields.field_task_program.content }}</a></div>
        </span>

      {% elseif group == 'OPEN Ideas' %}

        <span class="ribbon__segment left">
          <div class="tag"><a href="{{ base_path }}ideas">{{ fields.field_task_group.content }}</a></div>
        </span>

        <span class="ribbon__segment left">
          <div class="tag"><a href="{{ base_path }}ideas?field_task_type_value={{ fields.field_task_type.content }}">{{ fields.field_task_type.content }}</a></div>
        </span>
        <span class="ribbon__segment left">
          <div class="tag"><a href="{{ base_path }}ideas?field_task_program_value={{ fields.field_task_program.content }}">{{ fields.field_task_program.content }}</a></div>
        </span>

      {% endif %}

    </div>
  </div>

</div>

