{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="card awards border--top">

    <div class="card__item card__header">

      <div class="ribbon big">
        <div class="ribbon__segments">
          <div class="ribbon__segment left">

            <div class="label label--nopad"><span class="title tt--u ttitle projects-table__title inline-block">List of Awards</span></div>
          
          </div>
        </div>
      </div>
    </div>

    <div class="card__item card__body">

      <table class="table awards-table__table inverter__target">

      	<thead class="awards-table__head">
      		<tr>
      			<th class="awards-table__head-date"><span>Date</span></th>
      			<th class="awards-table__head-name"><span>Award | Project</span></th>
      			<th class="awards-table__head-icon data--right"><span>Links</span></th>
      		</tr>
      	</thead>

      	<tbody class="focus">
        	{{ rows }}
        </tbody>

      </table>

    </div>

    <div class="card__item border--bottom card__footer">

      <div class="ribbon big">
        <div class="ribbon__segments">
          <div class="ribbon__segment left">

            <div>
              {{more}}
              {{pager}}
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>

  {{ feed_icons }}
</div>