<div class="card__item spaced--most card__header">

	<h2>{{ fields.title.content }}</h2>

</div>

<div class="card__item spaced--most card__body">

	<div class="bd">{{ fields.body.content }}</div>

</div>

<div class="card__item card__footer">

    <div class="ribbon med">
		<div class="ribbon__segments">

	        <span class="ribbon__segment left">
				<a class="icon--tag">
					<i class="material-icons">label</i>
				</a>
			</span>

	        <span class="ribbon__segment left">
	          <div class="tag">{{ fields.type.content }}</div>
	        </span>

	        <span class="ribbon__segment left">
	          <div class="tag">{{ fields.field_video_type.content }}</div>
	        </span>

	        <div class="ribbon__segment right">
	          	<a class="icon--external" href="{{ events_path }}">
	          		<i class="material-icons">call_made</i>
	          	</a> 
	        </div>

	        <div class="ribbon__segment right">
	          	<div class="label label--nopad">
	          		<h4>{{ fields.field_link.content }}</h4>
	          	</div>
	        </div>

		</div>
    </div>
</div>