{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{% if view.total_rows > 0 %}

<div{{ attributes.addClass(classes) }}>

  <div class="card coverage border--top expandable">

    <input type="checkbox" id="related-awards">
    <label for="related-awards">

      <div class="card__item card__header spaced--most expandable-head">

        <div class="media mediaTitle">

            <div class="media__imgR">
                  <div class="ribbon">
                    <div class="ribbon__segments">
                        <div class="ribbon__segment">
                            <a class="icon icon--fa icon--button-big icon--big checked" style="background:none"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                          <a class="icon icon--fa icon--button-big icon--big unchecked" style="background:none"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </div>
                    </div>
                  </div>
              </div>

          <div class="media__contents">
              <h3 class="title title--secondary">{{ view.display_handler.display.display_title }} ({{ view.total_rows }})</h3>
          </div>

        </div>

      </div>

    </label>

    <div class="card__item card__body spaced--most expandable-body">
      {{ rows }}
    </div>

  </div>

  {{ feed_icons }}
</div>

{% endif %}