{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="card press spaced--more">

    <div class="card__item card__header">

      <div class="ribbon big">
        <div class="ribbon__segments">
          <div class="ribbon__segment left">

            <div class="label">
              <span class="title ttitle projects-table__title inline-block">List of Publications</span>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="card__item card__body">

      <table class="table press-table__table inverter__target">

      	<thead class="press-table__head">
      		<tr>
      			<th class="press-table__head-publication-date">Date</th>
            <th class="press-table__head-publication">Publication</th>
      			<th class="press-table__head-name">Title</th> 
      			<th class="press-table__head-icon data--right">Link / PDF</th>
      		</tr>
      	</thead>

      	<tbody class="focus">
        	{{ rows }}
        </tbody>
        
      </table>

    </div>

    <div class="card__item border--bottom card__footer">

      <div class="ribbon big">
          <div class="ribbon__segments">
            <div class="ribbon__segment left">
              {{more}}
              {{pager}}
            </div>
          </div>
        </div>

    </div>

  </div>

  {{ feed_icons }}
</div>