{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>

  <div class="card events">

    <div class="card__item card__header">

      <div class="ribbon big">
        <div class="ribbon__segments">
          <div class="ribbon__segment left">

            <h4 class="title title--secondary tt-u inline-block">News & Events</h4>

          </div>
        </div>
      </div>

    </div>

    <div class="card__body">

      {{ rows }}

    </div>
  

    <div class="card__item border--bottom card__footer">

      <div class="ribbon big">
          <div class="ribbon__segments">
            <div class="ribbon__segment left">

              <div>
                {{more}}
                {{pager}}
              </div>

            </div>
          </div>
        </div>
        
    </div>

  </div>

  {{ feed_icons }}
</div>