<table class="table press-table__table inverter__target">

  <thead class="press-table__head">
    <tr>
      <th class="press-table__head-publication-date">{{ view.field.field_press_publication_date.label }}</th>
      <th class="press-table__head-publication">{{ view.field.field_press_publication.label }}</th>
      <th class="press-table__head-name">{{ view.field.title.label }}</th> 
      <th class="press-table__head-icon data--right">{{ view.field.field_press_link.label }}</th>
    </tr>
  </thead>

  <tbody class="focus">
    {% for row in rows %}
      {{ row.content }}
    {% endfor %}
  </tbody>

</table>