<div class="card book-item invertable bdy bdc--def expandable focus__bg">
	
	<input type="checkbox" id="{{ fields.title.content|striptags }}" />

	<label for="{{ fields.title.content|striptags }}">

		<div class="card__item spaced card__header expandable-head">

	        {# {% set hey = ( fields.title.content ) ~ ' (' ~ ( fields.field_press_publication_date.content ) ~ ')' %} #}
	        {% set title = ( fields.title.content ) %}
	        {% include '@open_scratch/parts/card-header--expandable.html.twig' with {'title': title} only %}

	    </div>

	</label>

	<div class="expandable-body">

		<div class="card__item card__slide">

			<div class="gallery gallery--books">
				{{ fields.field_image_files.content }}
			</div>

		</div>

		<div class="card__item spaced card__body">

			<div class="bd lc--3">{{ fields.body.content }}</div>

			{% set facts = { 
				( fields.field_press_pub_author.label ): ( fields.field_press_pub_author.content ), 
                ( fields.field_publication_editor.label ): ( fields.field_publication_editor.content ),
                ( fields.field_publication_designer.label ): ( fields.field_publication_designer.content ),
                ( fields.field_press_publisher.label ): ( fields.field_press_publisher.content),
                ( fields.field_press_publication_date.label ): ( fields.field_press_publication_date.content ),
                ( fields.field_publication_format.label ): ( fields.field_publication_format.content ),
                ( fields.field_publication_language.label ): ( fields.field_publication_language.content ),
                ( fields.field_publication_isbn.label ): ( fields.field_publication_isbn.content ),
                ( fields.field_product_dimensions.label ): ( fields.field_product_dimensions.content )
                } 
			%}
			{% include '@open_scratch/parts/facts.html.twig' with facts %}

		</div>

		<div class="card__item card__footer">

			<div class="ribbon med">
				<div class="ribbon__segments">

					<span class="ribbon__segment left">
						<a class="icon--tag"><i class="material-icons">label</i></a>
					</span>
					<span class="ribbon__segment left">
						<div class="tag">{{ fields.type.content }}</div> 
					</span>
					<span class="ribbon__segment left">
						<div class="tag">{{ fields.field_book_type.content }}</div>
					</span>

					{% if fields.field_press_file.content %}

					<div class="ribbon__segment right">
		              	<a class="icon--external"><i class="material-icons">call_made</i></a> 
		            </div>
		            <div class="ribbon__segment right">
		              	<div class="label label--nopad"><h4>{{ fields.field_link.content }}</h4></div>
		            </div>

		            {% endif %}

				</div>
			</div>

		</div>

	</div>
	
</div>