<div class="card book-item invertable bdy bdc--def expandable focus__bg">
	
	<input type="checkbox" id="{{ fields.title.content|striptags }}" />

	<label for="{{ fields.title.content|striptags }}">

		<div class="card__item spaced card__header expandable-head">

	        {# {% set hey = ( fields.title.content ) ~ ' (' ~ ( fields.field_press_publication_date.content ) ~ ')' %} #}
	        {% set title = ( fields.title.content ) %}
	        {% include '@open_scratch/parts/card-header--expandable.html.twig' with {'title': title} only %}

	    </div>

		{# <div class="card__header expandable-head">

			<div class="media mediaTitle mediaTitle--big">

		  		<div class="media__imgR">

		            <div class="ribbon">
		              <div class="ribbon__segments">
		                <div class="ribbon__segment">
		                  	<a class="icon--expand checked" style="background:none">
		                  		<i class="fa fa-angle-up" aria-hidden="true"></i>
		                  	</a>
			                <a class="icon--expand unchecked" style="background:none">
			                	<i class="fa fa-angle-down" aria-hidden="true"></i>
			                </a>
		                </div>
		              </div>
		            </div>

		        </div>

				<div class="media__contents">

			    	<h4 class="title title--headline">
			    		{{ fields.title.content }} ({{ fields.field_press_publication_date.content }})
			    	</h4>
			    	
				</div>

			</div>

		</div> #}

	</label>

	<div class="expandable-body">

		<div class="card__item card__slide">

			<div class="gallery gallery--books">
				{{ fields.field_image_files.content }}
			</div>

		</div>

		<div class="card__item spaced card__body">

			<div class="bd lc--3">{{ fields.body.content }}</div>

			{% set facts = { 
				Author: ( fields.field_press_pub_author.content ), 
                Editor: ( fields.field_publication_editor.content ),
                Design: ( fields.field_publication_designer.content ),
                ( fields.field_press_publisher.label ): ( fields.field_press_publisher.content),
                'Date published': ( fields.field_press_publication_date.content ),
                Format: ( fields.field_publication_format.content ),
                Language: ( fields.field_publication_language.content ),
                ISBN: ( fields.field_publication_isbn.content ),
                Dimensions: ( fields.field_product_dimensions.content )
                } 
			%}
			{% include '@open_scratch/parts/facts.html.twig' with facts %}
			{# <ul class="list facts">
			    {% for key, value in facts %}
			        <li class="facts__fact">{{ key }}: {{ value }}</li>
			    {% endfor %}
			</ul> #}


			{# <ul class="list facts">
				<li class="facts__fact">
					<h6>Author: {{ fields.field_press_pub_author.content }}</h6>
				</li>

				<li class="facts__fact">
					<h6>Editor: {{ fields.field_publication_editor.content }}</h6>
				</li>

				<li class="facts__fact">
					<h6>Design: {{ fields.field_publication_designer.content }}</h6>
				</li>

				<li class="facts__fact">
					<h6>Publisher: {{ fields.field_press_publisher.content }} ({{ fields.field_press_publication_date.content }})</h6>
				</li>

				<li class="facts__fact">
					<h6>Format: {{ fields.field_publication_format.content }} ({{ fields.field_publication_pages.content }})</h6>
				</li>

				<li class="facts__fact">
					<h6>Language: {{ fields.field_publication_language.content }}</h6>
				</li>

				<li class="facts__fact">
					<h6>ISBN: {{ fields.field_publication_isbn.content }}</h6>
				</li>

				<li class="facts__fact">
					<h6>Dimensions: {{ fields.field_product_dimensions.content }}</h6>
				</li>
			</ul> #}

		</div>

		<div class="card__item card__footer">

			<div class="ribbon med">
				<div class="ribbon__segments">

					<span class="ribbon__segment left">
						<a class="icon--tag"><i class="material-icons">label</i></a>
					</span>
					<span class="ribbon__segment left">
						<div class="tag">{{ fields.type.content }}</div> 
					</span>
					<span class="ribbon__segment left">
						<div class="tag">{{ fields.field_book_type.content }}</div>
					</span>
					<div class="ribbon__segment right">
		              	<a class="icon--external" href="{{ events_path }}"><i class="material-icons">call_made</i></a> 
		            </div>
		            <div class="ribbon__segment right">
		              	<div class="label label--nopad"><h4>{{ fields.field_link.content }}</h4></div>
		            </div>

				</div>
			</div>

		</div>

	</div>
	
</div>