{% set facts = { 
	( fields.field_task_year.label ): ( fields.field_task_year.content ), 
    ( fields.field_task_city.label ): ( fields.field_task_city.content ),
    ( fields.field_task_size.label ): ( fields.field_task_size.content ),
    ( fields.field_task_site.label ): ( fields.field_task_site.content ),
    ( fields.field_task_type.label ): ( fields.field_task_type.content ),
    ( fields.field_task_client.label ): ( fields.field_task_client.content ),
    ( fields.field_task_status.label ): ( fields.field_task_status.content )
    } 
%}
{% include '@open_scratch/parts/facts.html.twig' with facts %}

{# <ul class="list facts">
	<li class="facts__fact">
		<h6>{{ fields.field_task_year.label ): {{ fields.field_task_year.content )</h6>
	</li>

	<li class="facts__fact">
		<h6>{{ fields.field_task_city.label ): {{ fields.field_task_city.content )</h6>
	</li>

	<li class="facts__fact">
		<h6>{{ fields.field_task_size.label ): {{ fields.field_task_size.content )</h6>
	</li>

	<li class="facts__fact">
		<h6>{{ fields.field_task_site.label ): {{ fields.field_task_site.content )</h6>
	</li>

	<li class="facts__fact">
		<h6>{{ fields.field_task_type.label ): {{ fields.field_task_type.content )</h6>
	</li>

	<li class="facts__fact">
		<h6>{{ fields.field_task_client.label ): {{ fields.field_task_client.content )</h6>
	</li>

	<li class="facts__fact">
		<h6>{{ fields.field_task_status.label ): {{ fields.field_task_status.content )</h6>
	</li>
</ul> #}
