{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

{% if view.total_rows > 0 %}
               
  <div class="card ideas">
    
    {# <div class="card__item spaced--most card__header">

      <div class="title title--secondary">
        <h5>Ideas ({{ view.total_rows }})</h5>
      </div>

    </div> #}

    <div class="card__item spaced--most card__body">

      <div class="gallery galleryRelations">
        <ul class="gallery__container">
          {{ rows }}
        </ul>
      </div>

    </div>

    {# <div class="card__item card__footer">

        <div class="ribbon med">
          <div class="ribbon__segments">

            <div class="ribbon__segment right">
              <a class="icon icon--bigr mat btn-big white" href="{{ events_path }}">
                <i class="material-icons">arrow_forward</i>
              </a> 
            </div>

            <div class="ribbon__segment right">
              <div class="label">More Work</div>
            </div>

          </div>
        </div>

    </div> #}

  </div>

{% endif %}

  {{ feed_icons }}

</div>
