<tr class="row--clickable focus__block">

	<td class="projects-table__data-year">
		<span>{{ fields.field_task_year.content }}</span>
	</td>

	<td class="projects-table__data-size">
		<span>{{ fields.field_task_size.content }}</span>
	</td>

	<td class="projects-table__data-city">
		<span>{{ fields.field_task_city.content }}</span>
	</td>

	<td class="projects-table__data-type">
		<span>{{ fields.field_task_type.content }}</span>
	</td>

	<td class="projects-table__data-program">
		<span>{{ fields.field_task_program.content }}</span>
	</td>

	<td class="projects-table__data-name data--right">

		<div class="ribbon">
			<div class="ribbon__segments">

			<div class="ribbon__segment right">
				<a class="icon icon--fa icon--bigr icon--button-sml focus__btn clickable-row-link" href="../task/{{ fields.nid.content|striptags }}">
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</a>
			</div>

			<div class="ribbon__segment right w--85p">
				<div class="label label--fullwidth">
					{{ fields.title.content }}
				</div>
			</div>

			</div>
		</div>

	</td>

</tr>
