 
{% set group = (fields.field_task_group.content) %}

{% if (group == 'OPEN Work') or (group == 'OPEN项目') %}
{% set group_path = "%sprojects/gallery"|format(base_path) %}
{% elseif (group == 'OPEN Ideas') or (group == 'OPEN构想') %}
{% set group_path = "%sideas"|format(base_path) %}
{% else %}
{% endif %}

{% if (current_language_id) == 'en' %}

  {% set type_encode = { 
    'Planning &amp; Strategy': 'Planning+%26+Strategy',
    'Landscape': 'Landscape',
    'Architecture': 'Architecture',
    'Interior &amp; Renovation': 'Interior+%26+Renovation',
    'Furniture': 'Furniture',
    'Installation': 'Installation',
    'Research': 'Research',
    'other': 'other'
  } %}

  {% set type_en = '%s'|format( fields.field_task_type.content ) %}
  {% set prog_en = '%s'|format( fields.field_task_program.content) %} 
  {% set type_query = "?field_task_type_value=%s"|format(type_encode[type_en]) %}
  {% set prog_query = "?field_task_program_value=%s"|format(prog_en) %}

{% else %}

  {% set type_trans = { 
    '规划&amp;策略': 'Planning+%26+Strategy',
    '景观': 'Landscape',
    '建筑': 'Architecture',
    '室内&amp;改造': 'Interior+%26+Renovation',
    '家具': 'Furniture',
    '装置': 'Installation',
    '研究': 'Research',
    '其它': 'other'
  } %}

  {% set prog_trans = { 
    '文化': 'Culture',
    '公园': 'Park',
    '教育': 'Education',
    '机构': 'Institution',
    '展览': 'Exhibition',
    '酒店': 'Hotel',
    '基础设施': 'Infrastructure',
    '图书馆': 'Library',
    '规划': 'Masterplan',
    '混合': 'Mixed-Use',
    '博物馆': 'Museum',
    '办公': 'Office',
    '保护': 'Preservation',
    '零售': 'Retail',
    '居住': 'Residential',
    '体育': 'Sport',
    '其它': 'other'
  } %}
  
  {% set type_cn = '%s'|format( fields.field_task_type.content ) %}
  {% set prog_cn = '%s'|format( fields.field_task_program.content ) %} 
  {% set type_query = "?field_task_type_value=%s"|format(type_trans[type_cn]) %}
  {% set prog_query = "?field_task_program_value=%s"|format(prog_trans[prog_cn]) %}

{% endif %}

{% set group_url = group_path %}
{% set type_url = [group_path, type_query]|join %}
{% set prog_url = [group_path, prog_query]|join %}

{% set tags = { 
  ( group_url ): ( fields.field_task_group.content ), 
  ( type_url ): ( fields.field_task_type.content ),
  ( prog_url ): ( fields.field_task_program.content )
  } 
%} 


{# ------------------------------------------------------------ #}

{# {% set group = (fields.field_task_group.content) %}
{% if (group == 'OPEN Work') or (group == 'OPEN项目') %}
{% set group_path = "%sprojects/gallery"|format(base_path) %}
{% elseif (group == 'OPEN Ideas') or (group == 'OPEN构想') %}
{% set group_path = "%sideas"|format(base_path) %}
{% else %}
{% endif %}

{% set type_en = '%s'|format( fields.field_task_type.content ) %}
{% set prog_en = '%s'|format( fields.field_task_program.content ) %} 
{% set type_query = "?field_task_type_value=%s"|format(type_en) %}
{% set prog_query = "?field_task_program_value=%s"|format(prog_en) %}

{% set group_url = group_path %}
{% set type_url = [group_path, type_query]|join %}
{% set prog_url = [group_path, prog_query]|join %}

{% set tags = { 
  ( group_url ): ( fields.field_task_group.content ), 
  ( type_url ): ( fields.field_task_type.content ),
  ( prog_url ): ( fields.field_task_program.content ),
  } 
%} #}

{# ------------------------------------------------------------ #}
{# {{ dump(fields.field_task_type.content) }} #}
<div class="card__item card__item--spaced-most card__header"> 

	<h1>{{ fields.title.content }}</h1>

</div>

<div class="card__item card__item--spaced-most card__body">
	<div class="bd bd--expandable">{{ fields.body.content }}</div>
</div>

<div class="card__item card__footer">

  {# <div class="ribbon med">
    <div class="ribbon__segments">

      <span class="ribbon__segment left">
        <a class="icon--tag">
          <i class="material-icons">label</i>
        </a>
      </span>

      <span class="ribbon__segment left">
        <div class="tag">
          <a href={{ url }}>{{ label }}</a>
        </div>
      </span>

    </div>
  </div> #}

  {% include '@open_scratch/parts/card-footer--tags.html.twig' with tags %}

</div>

