{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>

  <div class="card events">

    <div class="card__item card__header">

      <div class="ribbon big">
        <div class="ribbon__segments">
          <div class="ribbon__segment left">

            <h4 class="title title--secondary tt-u inline-block">News & Events</h4>

          </div>
        </div>
      </div>

    </div>

    <div class="card__body">

      {{ rows }}

    </div>
  

    <div class="card__item card__footer invertable bdb bdc--def">

      <div class="ribbon big">
        <div class="ribbon__segments">

          <div class="ribbon__segment left">

            <div>
              {{more}}
              {{pager}}
            </div>

          </div>

          <div class="ribbon__segment right">
            <a class="icon--internal" href="#top"><i class="material-icons">arrow_upward</i></a> 
          </div>

          <div class="ribbon__segment right">
            <h6 class="label">top</h6>
          </div> 

        </div>
      </div>

    </div>

  </div>

  {{ feed_icons }}
</div>