<div class="card__item card__item--spaced-most card__header"> 

	<h1>{{ fields.title.content }}</h1>

</div>

<div class="card__item card__item--spaced-most card__body">
	<div class="bd bd--expandable">{{ fields.body.content }}</div>
</div>

<div class="card__item card__footer">

  <div class="ribbon med">
    <div class="ribbon__segments">

      <span class="ribbon__segment left">
        <a class="icon icon--pull-left icon--mat">
          <i class="material-icons">label</i>
        </a>
      </span>

      <span class="ribbon__segment left">
        <div class="tag">{{ fields.field_task_group.content }}</div>
      </span>

      <span class="ribbon__segment left">
        <div class="tag">{{ fields.field_task_type.content }}</div>
      </span>

      <span class="ribbon__segment left">
        <div class="tag">{{ fields.field_task_program.content }}</div>
      </span>

    </div>
  </div>

</div>

