<li class="gallery__item focus">

  <div class="card idea media mediaCard"> {# class wrappers #}

    <div class="card__item card__slide relation__thumb media__img media__img--relation"> {# layout / width #}

      <a href="{{ base_path }}task/{{ fields.nid.content|striptags }}">
        {{ fields.field_thumbnail.content }} {# img element #}
      </a>

    </div>

    <div class="media__contents">

      <div class="card__item card__header relation__header">
        
        <div class="media mediaTitle">

          <div class="media__imgR">
            <div class="ribbon">
              <div class="ribbon__segments">
                <div class="ribbon__segment right">

                  <a class="icon--internal focus__btn" href="{{ base_path }}task/{{ fields.nid.content|striptags }}">
                    <i class="material-icons">arrow_forward</i>
                  </a>

                </div>
              </div>
            </div>
          </div>

          <div class="media__contents">
              <h3 class="title title--secondary">
                <a href="{{ base_path }}task/{{ fields.nid.content|striptags }}">
                  {{ fields.title.content }} ({{ fields.field_task_year.content }})
                </a>
              </h3>
          </div>

        </div>
         
      </div>

      <div class="card__item card__body relation__body">

        <div class="bd bd--smltext lc--4"><p>{{ fields.body.content|striptags }}</p></div>

      </div>

      <div class="card__item card__footer relation__footer "> {# position--bottom #}

        <div class="ribbon med">
          <div class="ribbon__segments">
            <span class="ribbon__segment left">

              <div class="label label--nopad">
                <h6>
                  <a href="{{ base_path }}ideas/">Idea</a>
                  , {{ fields.field_task_type.content }}    
                  , {{ fields.field_task_program.content }}
                </h6>
              </div>

            </span>
          </div>
        </div>

      </div>

    </div>

  </div>

</li>
