<div class="card news-item bdy bdc--blk invertable"> {# expandable #}
	
	{# <input type="checkbox" id="{{ fields.title.content|striptags }}" />

	<label for="{{ fields.title.content|striptags }}"> #}

		<div class="card__header spaced--most"> {# expandable-head #}

			{# <div class="media mediaTitle">

		  		<div class="media__imgR">

		            <div class="ribbon">
		              <div class="ribbon__segments">
		                <div class="ribbon__segment">

		                  	<a class="icon--expand checked" style="background:none"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
			                <a class="icon--expand unchecked" style="background:none"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
		                
		                </div>
		              </div>
		            </div>

		        </div>

				<div class="media__contents"> #}

			    	<h2 class="title title--headline">
			    		<a href="{{ base_path }}event/{{ fields.nid.content|striptags }}">
			    			{{ fields.field_event_date.content }} {{ fields.title.content }}
			    		</a>
			    	</h2>
			    	
				{# </div>

			</div> #}

		</div>

	{# </label> #}

	{# <div class="expandable-body"> #}

		{# <div class="card__item spaced--dbl card__media card__slide--small">
			{{ fields.field_image_files.content }}
		</div> #}

		<div class="card__item spaced--less card__body">
			<div class="bd lc--3">
				{{ fields.body.content }}
			</div>
		</div>

		<div class="card__item card__footer">

			<div class="ribbon med">
				<div class="ribbon__segments">

					<span class="ribbon__segment left">
						<a class="icon--tag">
							<i class="material-icons">label</i>
						</a>
					</span>

					<span class="ribbon__segment left">
						<div class="tag">
							<a href="{{ base_path }}events?field_event_type_value={{ fields.type.content|striptags }}">
								{{ fields.type.content }}
							</a>
						</div>
					</span>

					<span class="ribbon__segment left">
						<div class="tag">
							<a href="{{ base_path }}events?field_event_type_value={{ fields.field_event_type.content|striptags }}">
								{{ fields.field_event_type.content }}
							</a>
						</div>
					</span>

					<span class="ribbon__segment left">
						<div class="tag">
							<a href="{{ base_path }}events?field_event_city_value={{ fields.field_event_city.content|striptags }}">
								{{ fields.field_event_city.content }}
							</a>
						</div>
					</span>

					<div class="ribbon__segment right">
		              	<a class="icon--internal" href="{{ base_path }}event/{{ fields.nid.content|striptags }}">
		              		<i class="material-icons">arrow_forward</i>
		              	</a> 
		            </div>

				</div>
			</div>
		</div>

	{# </div> #}
	
</div>