<li class=""> {# gallery__item #}

  <div class="card media-relation">

    <div class="card__item card__slide relation__thumb">

        {{ fields.field_video_embed.content }}

    </div>

    <div class="card__item card__header">

      <div class="media mediaTitle">

          <div class="media__imgR">

            <div class="ribbon med">
              <div class="ribbon__segments">
                <div class="ribbon__segment right">

                  <a class="icon--internal" href="{{ base_path }}media/{{ fields.nid.content|striptags }}">
                    <i class="material-icons">arrow_forward</i>
                  </a>  

                </div>
              </div>
            </div>
          
          </div>

        <div class="media__contents">

            <h3 class="title title--bold">{{ fields.title.content }}</h3>
            <h6>{{ fields.type.content }}{{ fields.field_video_type.content }}</h6>

        </div>

      </div>

    </div>

  </div>

</li>
