<tr class="row--clickable focus__block">
	
	<td class="press-table__data-publication-date">
		<span>{{ fields.field_press_publication_date.content }}</span>
	</td>

	<td class="press-table__data-publication">
		<span>{{ fields.field_press_publication.content }} {{ fields.field_press_publication_issue.content }}</span>
	</td>

	<td class="press-table__data-name">
		<span>{{ fields.title.content }}</span>
	</td>

	<td class="press-table__data-icon data--right">
		<div class="icon--container">

			{% if fields.field_press_file.content %}
				<a class="icon--file focus__btn clickable-row-link" href="{{ fields.field_press_file.content|striptags }}">
					<i class="fa fa-file-o" aria-hidden="true"></i>
				</a>	    		
			{% elseif fields.field_press_link.content %}
				<a class="icon--external focus__btn clickable-row-link" href="{{ fields.field_press_link.content|striptags }}">
	    			<i class="material-icons">call_made</i>
	    		</a>
			{% endif %}

		</div>
	</td>
</tr>

