<div class="card event-teaser border--tb invertable expandable">

	<input type="checkbox" id="{{ fields.title.content|striptags }}" />

	<label for="{{ fields.title.content|striptags }}">

		<div class="card__item card__header spaced--less card__header--headline expandable-head overflow-hidden"> {# overflow-hidden to prevent margin collapse #}

			<div class="media mediaTitle">

		  		<div class="media__imgR">

		            <div class="ribbon">
			            <div class="ribbon__segments">
			                <div class="ribbon__segment">

			                  	<a class="icon--expand checked" style="background:none"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
				                <a class="icon--expand unchecked" style="background:none"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
				                
		                	</div>
			            </div>
		            </div>

		        </div>

				<div class="media__contents">

			    	<h2 class="title title--headline">{{ fields.title.content }}</h2>

				</div>

			</div>

		</div>

	</label>

	<div class="expandable-body">

		<div class="card__item card__slide card__slide--small">

			{{ fields.field_image_files.content }}

		</div>

		<div class="card__item spaced--most card__body">

			<div class="bd--smltext">{{ fields.body.content }}</div>

		</div>

		<div class="card__item card__footer">
			<div class="ribbon med">
				<div class="ribbon__segments">

					<span class="ribbon__segment left">
						<a class="icon--tag"><i class="material-icons">label</i></a>
					</span>

					<span class="ribbon__segment left">
						<div class="tag">{{ fields.type.content }}</div> 
					</span>

					<span class="ribbon__segment left">
						<div class="tag">{{ fields.field_event_type.content }}</div>
					</span>

					<span class="ribbon__segment left">
						<div class="tag">{{ fields.field_event_city.content }}</div>
					</span>

					<div class="ribbon__segment right">
		              	<a class="icon--internal" href="{{ base_path }}event/{{ fields.nid.content|striptags }}"><i class="material-icons">arrow_forward</i></a> 
		            </div>

				</div>
			</div>
		</div>

	</div>

</div>

