<li class="gallery__item">

	<div class="overlay overlay--onhover">

		<div class="thumb overlay__under">
			{{ fields.field_thumbnail.content }}
		</div>

		<a href="../task/{{ fields.nid.content|striptags }}" class="overlay__over thumb__caption thumb__caption--middle">
			<p>
	    		<span class="tt--u td--u">{{ fields.title.content }}</span>
	    		{% if fields.field_task_city.content is not empty %}
					</br>{{ fields.field_task_city.content }}
	    		{% endif %}
	    		{% if fields.field_task_year.content is not empty %}
	    			</br>({{ fields.field_task_year.content }})
	    		{% endif %}
	    	</p>
		</a>

	</div>

</li>
