<div class="card event border--top">

	<div class="card__item spaced--most card__header card__header--headline overflow-hidden"> {# overflow-hidden prevents margin collapse #}

		<h2 class="title title--headline">{{ fields.title.content }}</h2>
		
	</div>

	<div class="card__item card__slide overflow-visible">
		
		<div class="slideshow">

			<div class="slideshow__image">
				<div class="thumb">{{ fields.field_image_files.content }}</div>
			</div>
			
		</div>

	</div>

	<div class="card__item card__body spaced--most">

		<div class="bd--smltext">{{ fields.body.content }}</div>

	</div>

	<div class="card__item card__footer">

		<div class="ribbon med">
			<div class="ribbon__segments">

				<span class="ribbon__segment left">
					<a class="icon--tag">
						<i class="material-icons">label</i>
					</a>
				</span>

				<span class="ribbon__segment left">
					<div class="tag">{{ fields.type.content }}</div> 
				</span>

				<span class="ribbon__segment left">
					<div class="tag">{{ fields.field_event_type.content }}</div>
				</span>

				{# <span class="ribbon__segment left">
					<div class="tag">{{ fields.field_event_city.content }}</div>
				</span> #}

			</div>
		</div>

	</div>

</div>
{# </div> #}
