<div class="card job border--top">

	<div class="card__item card__header spaced--most">

		{# <div class="media mediaTitle mediaTitle--big">

	  		<div class="media__imgR">

	            <div class="ribbon">
		            <div class="ribbon__segments">
		                <div class="ribbon__segment right">

		                	<a class="icon fa btn-big icon--big" style="background:none"><i class="fa fa-angle-down" aria-hidden="true"></i></a>

		                </div>
		            </div>
	            </div>

	        </div>

			<div class="media__contents"> #}

		    	<h3 class="title">{{ fields.title.content }}</h3>
		    	<h4>Starts: {{ fields.field_job_startdate.content }}</h4>

			{# </div>

		</div> #}

	</div>

	<div class="card__item card__item--spaced-less card__body">
		<div class="bd">{{ fields.body.content }}</div>
	</div>

	<div class="card__item card__footer">

		<div class="ribbon med">
			<div class="ribbon__segments">

				<span class="ribbon__segment left">
					<a class="icon--tag"><i class="material-icons">label</i></a>
				</span>

				<span class="ribbon__segment left">
					<div class="tag">{{ fields.type.content }}</div> 
				</span>

				<span class="ribbon__segment left">
					<div class="tag">{{ fields.field_job_location.content }}</div>
				</span>

			</div>
		</div>
	</div>

</div>