{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
{# <div class="teaser headlines__teaser border-bottom-hairline"> #}
<div class="card card--news-item border--tb-blk expandable">
	
	<input type="checkbox" id="{{ fields.title.content|striptags }}" />
	<label for="{{ fields.title.content|striptags }}">

		{# <div class="media mediaTitle teaser__title"> #}
		<div class="card__header expandable-head">

			<div class="media mediaTitle">

				{# <div class="media__imgR">
				    <a class="icon icon--sml" style="background:none"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
		  		</div> #}

		  		<div class="media__imgR">
		            <div class="ribbon">
		              <div class="ribbon__segments">
		                <div class="ribbon__segment">
		                  	<a class="icon icon--fa icon--button-big icon--big checked" style="background:none"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
			                <a class="icon icon--fa icon--button-big icon--big unchecked" style="background:none"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
		                </div>
		              </div>
		            </div>
		        </div>

				<div class="media__contents">

			    	<h3 class="title title--headline">
			    		{{ fields.title.content }}
			    	</h3>
			    	
				</div>

			</div>

		</div>

	</label>

	<div class="expandable-body">

		<div class="card__item card__slide card__slide--small">
			{{ fields.field_thumbnail.content }}
		</div>

		<div class="card__item card__item--spaced card__body">
			<div class="bd lc--3">{{ fields.body.content }}</div>
		</div>

		<div class="card__item card__footer">
			<div class="ribbon ribbon--med">
				<div class="ribbon__segments">
					<span class="ribbon__segment--left">
						<a class="icon"><i class="fa fa-tag" aria-hidden="true"></i></a>
					</span>
					<span class="ribbon__segment--left">
						<div class="tag">{{ fields.type.content }}</div> 
					</span>
					<span class="ribbon__segment--left">
						<div class="tag">{{ fields.field_event_type.content }}</div>
					</span>
					<span class="ribbon__segment--left">
						<div class="tag">{{ fields.field_event_city.content }}</div>
					</span>
					<div class="ribbon__segment">
		              	<a class="icon icon--big icon--mat icon--button-big" href="{{ base_path }}event/{{ fields.nid.content|striptags }}"><i class="material-icons">arrow_forward</i></a> 
		            </div>
		            {# <div class="ribbon__segment">
		              	<div class="label">more</div>href="../task/{{ fields.nid.content|striptags }}
		            </div> #}
				</div>
			</div>
		</div>

	</div>
	
</div>