{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  <div class="card pad-widest projects-gallery">

    <div class="card__item card__body">

      <div class="gallery gallery--full">
        <ul class="gallery__container">
          {{ rows }}
        </ul>
      </div>
      
    </div>

    {{ pager }}
    {{ more }}

  </div>

  {{ feed_icons }}

</div>
